# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment folders
env/
venv/
Include/

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.log
*.tmp

# Ignore pygame folder you mentioned
Include/site/python3.12/pygame/

# Ignore PDF test file
test.pdf
